<launch>
  <!-- send Panda urdf to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find xarm_description)/urdf/xarm6_robot.urdf.xacro'" />

  <include file="$(find xarm6_moveit_config)/launch/planning_context.launch"/>

  <node name="check" pkg="map_creator" type="check" respawn="false" output="screen" />
</launch>